/* ---------- root variables ---------- */
:root {
  --background: #FFFF;
  --text-dark: #606060;
  --text-light: #BAB7B7;
  --myplants: #EDF4EE;
  --bassin7: #EDF7F6;
  --pink: #FDE0F6;
  --klimaspillet: #EEFCED;
  --silkeKidholm: #f4f4f4;
  --amo: #f4f0ed;
  --hq: #fcf5ef;
  --rejsebogen: #EFF5F7;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-dark);
  font-family: 'Abril Fatface', 'Work Sans', sans-serif;
  height: 100%;
  width: 100%;
  font-weight: 200;
  line-height: 1.6;
  letter-spacing: 1.1px;
}

body {
  background-color: var(--background);
  margin: 0;
  top: 0;
  font-family: 'Work Sans', sans-serif;

}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: auto;

}
h2 {
  color: var(--text-dark);
  font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 3px;
    margin-block-end: 0;
}
h3 {
  font-size: 2.6em;
  font-weight: 100;
  color: var(--text-dark);
  text-align: center;
  padding-top: 10%;
  letter-spacing: 3px;
}

p {

font-size: 14px;
}
/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 1920px;
  margin: 0 auto;
}

/* links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-dark);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 auto;

}

/* Changes links on hover */
.tabbar a:hover {
  font-weight: bold;
  transition: 0.5s;
}

/* Adds styling to the active/current link */
.tabbar a.active {
  font-weight: bold;
}

/* Moves navbar to top on "about"-page */
.about-tabbar {
  top: 280px;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  animation: fadeIn 0.4s;
  max-width: 1920px;
  margin: 0 auto;
  height: auto;
}

/*about page styling*/
#about {
  overflow: hidden;
  max-height: 100vh;
}

#banner {
  height: 280px;
  width: 2400px;
  overflow: hidden;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
  margin: 0 auto;
}

.banner-elements {
  height: 280px;
  width: 280px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--rejsebogen);
}

.first {
  background-color: var(--rejsebogen);
  -webkit-animation: bannerMove 50s linear infinite;
  animation: bannerMove 50s linear infinite;
}

.banner-preview-img {
  max-width: 80%;
  transition: .5s ease;
  padding-top: 20%;
}

.banner-preview-gif {
  max-width: 40%;
  padding-top: 10%;
}

.top-padding {
  padding-top: 33%;
  max-width: 90%;
}

.banner-preview-hover {
  display: none;
  margin: auto;
}

.banner-elements:hover .banner-preview-hover {
  display: inline-block;
}

.banner-elements:hover .banner-preview-no-hover {
  display: none;
}

.banner-preview-text {
  font-family: "Abril fatface";
  color: var(--background);
  font-size: 1.5em;
  padding-top: 32%;
  }

.banner-preview-text:hover {
  -webkit-animation: scale-up 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
}

#banner-element-1  {
  background-color: var(--rejsebogen) !important;
}

#banner-element-2, #banner-element-2-repeat  {
  background-color: var(--amo);
}

#banner-element-3, #banner-element-3-repeat  {
  background-color: var(--klimaspillet);
}

#banner-element-4, #banner-element-4-repeat, #banner-element-9 {
  background-color: var(--pink);
}

#banner-element-5, #banner-element-5-repeat {
  background-color: var(--bassin7);
}

#banner-element-6, #banner-element-6-repeat {
  background-color: var(--silkeKidholm);
}

#banner-element-7 {
  background-color: var(--myplants);
}

#banner-element-8 {
  background-color: var(--hq);
}

#about-article {
  text-align: center;
  margin: 15vh auto;
}

/* work page styling */

#slideshow-container1 {
  background-color: var(--myplants);
}

#slideshow-container2 {
  background-color: var(--bassin7);
}

#slideshow-container3 {
  background-color: var(--klimaspillet);
}

#slideshow-container4 {
  background-color: var(--silkeKidholm);
}

#slideshow-container5 {
  background-color: var(--amo);
}

#slideshow-container6 {
  background-color: var(--hq);
}

#slideshow-container7 {
  background-color: var(--rejsebogen);
}

#work-page-header {
  height: 20vh;
  width: 100%;
  background-color: white;
}

#work-page-heading  {
  text-align: left;
  font-size: 1.2em;
  padding: 5%;
  margin: 5% auto 5% auto;
  position: relative;
}

/* Slideshow container */
.slideshow-container {
  width: 65%;
  height: 100%;
  margin: 5% auto;
  position: relative;
  text-align: center;
  opacity: 0;
}

/* first slideshow container */
.slideshow-container-first {
  margin: 0 auto;
  opacity: 1;
}

.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7 {
  display: none;
  height: 55vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}

/* class is used for the animation */
.slideup-animation {
  opacity: 1;
  transition: linear 1s;
  -webkit-animation: slide-top-slideshow 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top-slideshow 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

/* ---------- content in slideshow ---------- */

.slide-images {
  max-width: 45%;
}

.slide-images-bigger {
  max-width: 70%;
}

.slide-images-gif {
  width: 20%;
}

.img-gif-container-myslides2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.slideshow-text {
  padding: 5% 10%;
  margin: 0 auto;
}

.slideshow-keywords {
  font-weight: 300;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--text-light);
  font-weight: 100;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover  {
  background-color: #f1f1f1;
  color: var(--text-dark);
}

.next:hover{
  background-color: #f1f1f1;
  color: var(--text-dark);
}

/* ---------- contact page styling ---------- */
#contact {
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  animation: fadeIn 1.5s;

}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.contact-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

#contact-page-heading  {
  text-align: center;
  font-size: 1.2em;
  position: relative;
      padding-top: 1%;

    }

#contact-table {
  padding: 5% 0 0 10%;
  font-size: 0.8em;
  border-spacing: 40px 10px;
}

.contact-list-left {
  text-align: right;
}

#contact-table a {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 200;
}

#contact-table a:hover {
  font-weight: bolder;
  ;
}

.contact-img-container {
  width: 50%;
}

.contact-img {
  max-width: 70%;
  height: auto;
}

#contact-img-tablet {
  display: none;
}

#contact-img-desktop {
  display: block;
}


/* ---------- animations ---------- */
/* fade in .page */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* scale up text on hover in banner */
@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes scale-up {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/* make banner move on frontpage */
@keyframes bannerMove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2400px;
 }
  }
@-webkit-keyframes bannerMove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2400px;
 }
}

/* slide up slideshow containers */
@keyframes slide-top-slideshow {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  100% {
    -webkit-transform: translateY(-0px);
            transform: translateY(-0px);
  }
}

@-webkit-keyframes slide-top-slideshow {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  100% {
    -webkit-transform: translateY(-0px);
            transform: translateY(-0px);
  }
}

/* ---------- media querries ---------- */

/* Iphone 5 - 6 */
@media screen and (max-width: 414px) {
h1 {
    font-size: 2em;
}

h2 {
  margin-block-start: 0;
}

#about-article {
  margin: 5vh auto;
}
.img-gif-container-myslides2 {
  flex-direction: column;
}

.contact-img {
width: 100%;
}

}

/* tablet and down */
@media screen and (max-width: 768px) {
p {
  font-size: 13px;
}

.tabbar {
  bottom: 0;
  top: auto;
}

.slide-images {
  max-width: 60%;
}

.mobile-gif {
  width: 30%;
}


.contact-container {
  flex-direction: column-reverse;
  justify-content: flex-end;
  bottom: 54px;
  width: 100%;
  height: 100vh;
  align-content: center;
}

.contact-text-container {
  width: 100%;
  max-height: 50%;
  padding-top: 10%;
}

#contact-table a {
  font-weight: 300;
}

#contact-page-heading {
  margin-bottom: 0;
}

.contact-img-container {
  width: 100%;
  max-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-img {
width: 100%;
max-width: 100%;
max-height: 70%;
}

#contact-img-desktop {
  display: none;
}

#contact-img-tablet {
  display: block;
}

}

@media screen and (max-width: 1120px) {
  .slideshow-container {
    width: 100vw;
    height: 100%;
  }


  }
