/* ---------- root variables ---------- */
:root {
  --background: #FFFF;
  --text-dark: #808080;
  --text-light: #BAB7B7;
  --myplants: #BCDBC2;
  --bassin7: #BCE9ED;
  --pink: #F4C6E9;
  --klimaspillet: #C5DEBC;
  --silkeKidholm: #C4C5C3;
  --amo: #D6CCBF;
  --hq: #E5D5BA;
  --rejsebogen: #BDCAE0;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-dark);
  font-family: "Abril Fatface", "Avenir Next";
  height: 100%;
  width: 100%;
  font-weight: 200;

}

body {
  background-color: var(--background);
  margin: 0;
  top: 0;
  font-family: "Avenir Next";
}

h1 {
  font-family: "Abril Fatface";
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: auto;
}
h2 {
  color: var(--text-light);
  font-family: "Avenir Next";
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 3px;

}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: white;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-dark);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 auto;
}

/* Change the color of links on hover */
.tabbar a:hover {
  font-weight: bold;
}

/* Add a color to the active/current link */
.tabbar a.active {
  font-weight: bold;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  animation: fadeIn 0.4s;
}

/*about page styling*/
#about {
  overflow: hidden;
  max-height: 100vh;
}

#banner {
  height: 280px;
  width: 2400px;
  overflow: hidden;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
  top: 20px;
}

.banner-elements {
  height: 280px;
  width: 280px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}


.first {
  -webkit-animation: bannerMove 50s linear infinite;
  animation: bannerMove 50s linear infinite;
}

.banner-preview-img {
  max-width: 80%;
  transition: .5s ease;
  padding-top: 20%;
}

.banner-preview-gif {
  max-width: 40%;
  transition: .5s ease;
  padding-top: 10%;
}

.banner-preview-hover {
  display: none;
  margin: auto;
}

.banner-elements:hover .banner-preview-hover {
  display: inline-block;
}

.banner-elements:hover .banner-preview-no-hover {
  display: none;
}

.banner-preview-text {
  font-family: "Abril fatface";
  color: var(--background);
  font-size: 1.5em;
  padding-top: 30%;
  }

.banner-preview-text:hover {
  font-size: 2.1em;
}


#banner-element-1, #banner-element-10 {
  background-color: var(--rejsebogen);
}

#banner-element-2 {
  background-color: var(--amo);
}

#banner-element-3 {
  background-color: var(--klimaspillet);
}

#banner-element-4, #banner-element-9 {
  background-color: var(--pink);
}

#banner-element-5 {
  background-color: var(--bassin7);
}

#banner-element-6 {
  background-color: var(--silkeKidholm);
}

#banner-element-7 {
  background-color: var(--myplants);
}

#banner-element-8 {
  background-color: var(--hq);
}

#about-article {
  text-align: center;
  margin: 5% auto;
}

/*projects page styling*/

#slideshow-container1 {
  background-color: var(--myplants);
}

#slideshow-container2 {
  background-color: var(--bassin7);
}

#slideshow-container3 {
  background-color: var(--klimaspillet);
}

#slideshow-container4 {
  background-color: var(--silkeKidholm);
}

#slideshow-container5 {
  background-color: var(--amo);
}

#slideshow-container6 {
  background-color: var(--hq);
}

#slideshow-container7 {
  background-color: var(--rejsebogen);
}

#projects-page-heading {
text-align: center;
  background-color: white;
  font-size: 2.5em;
  padding-top: 5%;

}

/* Slideshow container */
.slideshow-container {
  width: 70vw;
  height: 70vh;
  margin: 5% auto;
  position: relative;
  overflow: hidden;
}

.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover  {
  background-color: #f1f1f1;
  color: black;
}

.next:hover{
  background-color: #f1f1f1;
  color: black;
}

h3 {
  font-size: 2em;
  font-weight: 300;
  color: white;
  text-align: center;
}
/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}


@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes scale-up {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes navbar-slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(130px);
            transform: translateX(130px);
  }
}

@keyframes bannerMove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2400px;
 }
}

@-webkit-keyframes bannerMove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2400px;
 }
}

/* ---------- media querries ---------- */

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 1120px) {

  }

  /* iphone 6 and down*/
  @media screen and (max-width: 375px) {

}

/* iphone 5 */
  @media screen and (max-width: 320px) {

    }
